<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <link rel="stylesheet" href="https://pyscript.net" />
      <script defer src="https://pyscript.net"></script>
    </head>
    <body style="background-color:powderblue;">
        <h2>Epibuddy</h2>
        <p>Hey! Epigenetic data is hard to analyze. I get it. I built this tool as a starting point to help you make sense of your data and perform some quick initial analyses.</p>
        <p>Ensure the group variable is named 'group', the patient variable is 'patient_id', and the cell type variable is named 'cell_type' and both are stored in the obs section.</p>
        
        <form action="/submit" method="POST"><form action="/submit" method="POST" enctype="multipart/form-data">
            <label for="choice">Plot type:</label>
            <input type="text" name="choice" placeholder="Enter choice (t-SNE, PCA, heatmap, correlation)" required>
            <label for="adata">Upload .h5ad file:</label>
            <input type="file" name="adata" accept=".h5ad" required>
            <label for="gene">Insert gene names (if heatmap option selected):</label>
            <input type="text" name="gene" placeholder="HELLO1,HELLO2,HELLO3">
            <button type="submit">Submit</button>
        </form>
        <h4>Future goals:</h4>
        <p>Am hoping to expand this to incorporate other types of data, giving a more multiplexed set of recommendations</p>
    </body>
</html>
